//fixed
$black: #000;

$white: #fff;

$red: #A1102A;

$gray: #E0E0E0;
$gray-1: #F6F6F6;

//not fix
$green: #599e43;
$green-1: #245F12;

// $gray: #E0E0E0;

$gray-2: #555;
$gray-3: #BCBCBC;
$gray-4: #F8F8F8;
$gray-5: #272727;

$yellow: #E89900;
$yellow-1: #FFAC4A;
$yellow-2: #EFBA00;

// $white: #fff;
// $red: #B40000;

$pink: #A50064;
$pink-1: #F45197;
$pink-2:#F9B5C3;
$pink-3: #A60364;
$pink-4: #F45197;


// $black-1: #555555;
$black-2: #111111;
$black-3: #1D1D1D;


$gray-6: #EBEBEB;

